# Quizard Dependencies
#python==3.10
numpy
pandas
matplotlib
scipy
plotly
dash==2.10.2
dash-bootstrap-components==1.4.1
dash-extensions
dash-iconify==s0.1.2
xgboost
statsmodels==0.14.0
scikit-learn==1.2.2
yfinance
yahoo_fin
selenium
dash_daq
kaleido
Pillow
dash
dash_bootstrap_components
python-docx
chromadb
unstructured
tiktoken
